# Managed by codereviewer common role.
* soft nofile {{ common_nofile_limit }}
* hard nofile {{ common_nofile_limit }}
root soft nofile {{ common_nofile_limit }}
root hard nofile {{ common_nofile_limit }}
