# Managed by codereviewer common role.
[Journal]
SystemMaxUse={{ common_journald_system_max_use }}
SystemMaxFileSize={{ common_journald_system_max_file_size }}
RuntimeMaxUse={{ common_journald_runtime_max_use }}
