# Managed by codereviewer common role. Secrets are generated once; do not rotate manually.
SANDBOX_ACCESS_TOKEN_HASH_SEED={{ common_sandbox_access_token_hash_seed }}
E2B_POSTGRES_PASSWORD={{ common_e2b_postgres_password }}
E2B_CLICKHOUSE_USERNAME={{ common_e2b_clickhouse_username }}
E2B_CLICKHOUSE_PASSWORD={{ common_e2b_clickhouse_password }}
E2B_API_KEY={{ common_e2b_api_key_placeholder }}
