QOPS_BACKUP_ROOT={{ backup_root }}
QOPS_BACKUP_RETENTION_DAYS={{ backup_retention_days }}
QOPS_BACKUP_SECRETS={{ backup_secrets_file }}
QOPS_BACKUP_QOPS_DIR={{ backup_qops_dir }}
QOPS_BACKUP_KODUS_DIR={{ backup_kodus_install_dir }}
QOPS_BACKUP_KODUS_ENV={{ backup_kodus_env_file }}
QOPS_BACKUP_E2B_COMPOSE={{ backup_e2b_compose_file }}
QOPS_BACKUP_E2B_PROJECT={{ backup_e2b_compose_project }}
QOPS_BACKUP_E2B_PG_USER={{ backup_e2b_postgres_user }}
QOPS_BACKUP_E2B_PG_DB={{ backup_e2b_postgres_db }}
QOPS_BACKUP_VERIFY={{ backup_verify_script_path }}
