QOPS_E2B_GC_STORE={{ backup_gc_store }}
QOPS_E2B_GC_RETENTION_HOURS={{ backup_gc_retention_hours }}
QOPS_E2B_GC_SUMMARY={{ backup_gc_summary_path }}
QOPS_E2B_GC_COMPOSE={{ backup_e2b_compose_file }}
QOPS_E2B_GC_SECRETS={{ backup_secrets_file }}
QOPS_E2B_GC_PROJECT={{ backup_e2b_compose_project }}
QOPS_E2B_GC_PG_USER={{ backup_e2b_postgres_user }}
QOPS_E2B_GC_PG_DB={{ backup_e2b_postgres_db }}
QOPS_E2B_GC_LIB={{ backup_lib_dir }}/qops-e2b-gc
QOPS_E2B_GC_QUERY={{ backup_lib_dir }}/e2b-gc-query.sh
QOPS_E2B_GC_PSQL={{ backup_lib_dir }}/e2b-psql.sh
