ENVIRONMENT={{ e2b_services_environment }}
SERVICE_DISCOVERY_PROVIDER={{ e2b_services_service_discovery_provider }}
LOCAL_ORCHESTRATOR_ADDRESS={{ e2b_services_local_orchestrator_address }}
NODE_ID={{ e2b_services_node_id }}
NODE_IP={{ e2b_services_node_ip }}
STORAGE_PROVIDER={{ e2b_services_storage_provider }}
LOCAL_TEMPLATE_STORAGE_BASE_PATH={{ e2b_services_template_storage_path }}
LOCAL_BUILD_CACHE_STORAGE_BASE_PATH={{ e2b_services_build_cache_path }}
ARTIFACTS_REGISTRY_PROVIDER={{ e2b_services_artifacts_registry_provider }}
OTEL_COLLECTOR_GRPC_ENDPOINT={{ e2b_services_otel_grpc_endpoint | trim }}
REDIS_URL={{ e2b_services_redis_url }}
POSTGRES_CONNECTION_STRING=postgres://{{ e2b_datastores_postgres_user }}:{{ e2b_services_postgres_password }}@{{ e2b_datastores_postgres_bind_host }}:{{ e2b_datastores_postgres_port }}/{{ e2b_datastores_postgres_db }}?sslmode=disable
CLICKHOUSE_CONNECTION_STRING=clickhouse://{{ e2b_services_clickhouse_username }}:{{ e2b_services_clickhouse_password }}@{{ e2b_datastores_clickhouse_bind_host }}:{{ e2b_datastores_clickhouse_native_port }}/{{ e2b_datastores_clickhouse_db }}
LOKI_URL={{ e2b_services_loki_url }}
API_INTERNAL_GRPC_ADDRESS={{ e2b_services_api_internal_grpc_address }}
SANDBOX_ACCESS_TOKEN_HASH_SEED={{ e2b_services_sandbox_access_token_hash_seed }}
AUTH_PROVIDER_CONFIG={{ e2b_services_auth_provider_config }}
VOLUME_TOKEN_ENABLED={{ e2b_services_volume_token_enabled | bool | ternary('true', 'false') }}
DEFAULT_FIRECRACKER_VERSION={{ firecracker_version }}
DEFAULT_KERNEL_VERSION={{ kernel_version }}
