ENVIRONMENT={{ e2b_services_environment }}
SERVICE_DISCOVERY_PROVIDER={{ e2b_services_service_discovery_provider }}
NODE_ID={{ e2b_services_node_id }}
NODE_IP={{ e2b_services_node_ip }}
REDIS_URL={{ e2b_services_redis_url }}
LOKI_URL={{ e2b_services_loki_url }}
API_INTERNAL_GRPC_ADDRESS={{ e2b_services_api_internal_grpc_address }}
OTEL_COLLECTOR_GRPC_ENDPOINT={{ e2b_services_otel_grpc_endpoint | trim }}
SANDBOX_ACCESS_TOKEN_HASH_SEED={{ e2b_services_sandbox_access_token_hash_seed }}
