[Unit]
Description=E2B client-proxy
Wants=network-online.target
After=e2b-orchestrator.service network-online.target
Requires=e2b-orchestrator.service

[Service]
Type=simple
User={{ e2b_services_user }}
Group={{ e2b_services_group }}
EnvironmentFile={{ e2b_services_client_proxy_env }}
ExecStart={{ e2b_services_client_proxy_bin }}
Restart=on-failure
RestartSec=5
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
