ENVIRONMENT={{ e2b_services_environment }}
SERVICE_DISCOVERY_PROVIDER={{ e2b_services_service_discovery_provider }}
NODE_ID={{ e2b_services_node_id }}
NODE_IP={{ e2b_services_node_ip }}
ORCHESTRATOR_SERVICES={{ e2b_services_orchestrator_services }}
ENVD_TIMEOUT={{ e2b_services_envd_timeout }}
STORAGE_PROVIDER={{ e2b_services_storage_provider }}
LOCAL_TEMPLATE_STORAGE_BASE_PATH={{ e2b_services_template_storage_path }}
LOCAL_BUILD_CACHE_STORAGE_BASE_PATH={{ e2b_services_build_cache_path }}
ARTIFACTS_REGISTRY_PROVIDER={{ e2b_services_artifacts_registry_provider }}
OTEL_COLLECTOR_GRPC_ENDPOINT={{ e2b_services_otel_grpc_endpoint | trim }}
REDIS_URL={{ e2b_services_redis_url }}
POSTGRES_CONNECTION_STRING=postgres://{{ e2b_datastores_postgres_user }}:{{ e2b_services_postgres_password }}@{{ e2b_datastores_postgres_bind_host }}:{{ e2b_datastores_postgres_port }}/{{ e2b_datastores_postgres_db }}?sslmode=disable
CLICKHOUSE_CONNECTION_STRING=clickhouse://{{ e2b_services_clickhouse_username }}:{{ e2b_services_clickhouse_password }}@{{ e2b_datastores_clickhouse_bind_host }}:{{ e2b_datastores_clickhouse_native_port }}/{{ e2b_datastores_clickhouse_db }}
LOKI_URL={{ e2b_services_loki_url }}
SANDBOX_ACCESS_TOKEN_HASH_SEED={{ e2b_services_sandbox_access_token_hash_seed }}
DEFAULT_FIRECRACKER_VERSION={{ firecracker_version }}
DEFAULT_KERNEL_VERSION={{ kernel_version }}
SANDBOXES_HOST_NETWORK_CIDR={{ sandbox_host_cidr }}
SANDBOXES_VRT_NETWORK_CIDR={{ sandbox_vrt_cidr }}
ALLOW_SANDBOX_INTERNAL_CIDRS={{ e2b_allow_sandbox_internal_cidrs | join(',') }}
MAX_PARALLEL_MEMFILE_SNAPSHOTTING={{ e2b_services_max_parallel_memfile_snapshotting }}
ORCHESTRATOR_LOCK_PATH={{ e2b_services_orchestrator_lock_path }}
ORCHESTRATOR_BASE_PATH={{ e2b_services_orchestrator_base_path }}
HOST_ENVD_PATH={{ e2b_services_host_envd_path }}
HOST_KERNELS_DIR={{ e2b_services_host_kernels_dir }}
FIRECRACKER_VERSIONS_DIR={{ e2b_services_firecracker_versions_dir }}
HOST_BUSYBOX_DIR={{ e2b_services_host_busybox_dir }}
FORCE_STOP={{ e2b_services_orchestrator_force_stop | bool | ternary('true', 'false') }}
